body {
    font-size: 0.875rem;
}

main {
    display: flex;
    background-color: rgba(0, 0, 0, 0.25);
    flex-grow: 1;
}

main > header {
    background-color: rgba(0, 0, 0, 0.15);
}
#alert-container {
    pointer-events: none;
}

#propertyViewer {
    display: block;
    overflow-x: none;
    overflow-y: auto;
}

.upgrade-image {
    width: 100%;
}

.table-responsive {
    max-width: calc(100vw - 265px);
}

.table {
    width: initial;
}

.table > :not(caption) > * > * {
    padding: 0em;
}
.table-cell {
    padding: 0em;
}

.table-header-cell {
    padding: 0.25em 0.75em !important;
    white-space: nowrap;
}

.form-check-input-delta {
    border-color: hsla(296, 63%, 42%, 0.839) !important;
    border-width: 2px;
}

.table-cell-input-delta {
    color: hsl(216, 60%, 75%) !important;
}

.table-cell-input-delta-positive {
    color: hsl(137, 60%, 75%) !important;
}

.table-cell-input-delta-negative {
    color: hsl(0, 61%, 75%) !important;
}

.btn-dark {
    background-color: hsl(210, 11%, 4%);
    border-color: hsl(210, 11%, 4%);
}
.btn-dark:focus {
    background-color: hsl(210, 11%, 5%);
    border-color: hsl(210, 11%, 5%);
}
.btn-outline-dark {
    border-color: hsl(210, 11%, 4%);
}

.table-cell-input {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #fff;
    padding: 0.5em;
    min-width: 4em;
    width: 100%;
}

.i-hate-my-life{
    color: #fff;
    background-color: rgb(45, 50, 55);
    border-width: 1px;
}

.table-cell-input-md {
    min-width: 8em;
}

.table-cell-input-lg {
    min-width: 12em;
}

.table-cell-input:hover {
    background-color: rgba(1, 0, 20, 0.2);
}

.form-check-input {
    cursor: pointer;
}
.form-check-input:hover {
    background-color: rgba(182, 182, 182, 0.8);
}
.form-check-input:checked:hover {
    background-color: hsl(208, 72%, 28%);
    border-color: hsl(208, 72%, 28%);
}

.table-cell-input:focus-visible {
    border: none;
    outline: none;
    background-color: rgba(1, 0, 6, 0.3);
}

.dropdown-menu {
    max-height: 400px;
    overflow-y: auto;
}

.modal-header {
    background-color: rgba(0, 0, 0, 0.25);
    border: none;
}

.modal-footer {
    border: none;
}

.child-center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
}
.child-right {
    position: absolute;
    top: 50%;
    left: 100%;
    margin: 0;
    transform: translate(calc(-100% - 0.5em), -50%);
}

.form-control {
    background-color: rgba(0, 0, 2, 0.2);
    border-color: rgba(0, 0, 2, 0.3);
}

.form-control:focus {
    background-color: rgba(0, 0, 2, 0.3);
    border: none;
}
.dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.container-main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
   * Sidebar
   */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.35);
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px; /* Height of navbar */
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #d2d2d2;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #1a1a1a;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

i-hate-my-life {

}

.sidebar-heading {
    font-size: 0.75rem;
    text-transform: uppercase;
}

/*
   * Navbar
   */

.navbar-brand {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.45);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.navbar .form-control {
    padding: 0.75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    border-color: rgba(255, 255, 255, 0);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.108);
}

/*
   * Utilities
   */

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}
